.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
airflow/secrets/
secrets/
.user.yml
target
.vscode
logs
dbt_packages
package-lock.yml