# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# Install latest version of Cosmos and dbt for all supported databases - might want to just leave dbt.bigquery inside later on
astronomer-cosmos[dbt.all]